<a href="https://colab.research.google.com/github/vijayvishnu1/data-science/blob/main/navibyers_17_10_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

csv
take (folder symbol) from right
right click on sample data and upload csv 
paste golf cv and upload


 copy and paste the code


import pandas as pd
import io
from sklearn.model_selection import train_test_split

df1 = pd.read_csv('/content/sample_data/golf-dataset.csv')
print(df1)
df1.head(10)
 
X = df1.iloc[:, [0,1,2, 3]].values
y = df1.iloc[:, -1].values
print(X)
print(y)

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size = 0.2, random_state=42)

print(X_test)


copy th path of csv file and paste or replace the path in code

 from df1 = pd.read_csv('/content/golf-dataset.csv') to 
 df1 = pd.read_csv('/content/sample_data/golf-dataset.csv')

 then run

In [ ]:
import pandas as pd
import io
from sklearn.model_selection import train_test_split

df1 = pd.read_csv('/content/sample_data/golf-dataset.csv')
print(df1)
df1.head(10)
 
X = df1.iloc[:, [0,1,2, 3]].values
y = df1.iloc[:, -1].values
print(X)
print(y)

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size = 0.2, random_state=42)

print(X_test)

     Outlook  Temp Humidity  Windy Play Golf
0      Rainy   Hot     High  False        No
1      Rainy   Hot     High   True        No
2   Overcast   Hot     High  False       Yes
3      Sunny  Mild     High  False       Yes
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
7      Rainy  Mild     High  False        No
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
11  Overcast  Mild     High   True       Yes
12  Overcast   Hot   Normal  False       Yes
13     Sunny  Mild     High   True        No
[['Rainy' 'Hot' 'High' False]
 ['Rainy' 'Hot' 'High' True]
 ['Overcast' 'Hot' 'High' False]
 ['Sunny' 'Mild' 'High' False]
 ['Sunny' 'Cool' 'Normal' False]
 ['Sunny' 'Cool' 'Normal' True]
 ['Overcast' 'Cool' 'Normal' True]
 ['Rainy' 'Mild' 'High' False]
 ['Rainy' 'Cool' 'Normal' False]
 ['Sunny' 'Mild' 'Normal' False]
 ['Rainy' 'Mild' 'Normal' True]
 ['Overcast' 'Mild' 'High' True]
 ['Overcast' 'Hot' 'Normal' False]
 ['Sunny' 'Mild' 'High' True]]
['No' 'No' 'Yes' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes'
 'No']
[['Sunny' 'Mild' 'Normal' False]
 ['Overcast' 'Mild' 'High' True]
 ['Rainy' 'Hot' 'High' False]]

In [ ]:
df1['Outlook'].replace(['Rainy'],[0], inplace=True)
df1['Outlook'].replace(['Overcast'],[1], inplace=True)
print(df1)

   Outlook  Temp Humidity  Windy Play Golf
0        0   Hot     High  False        No
1        0   Hot     High   True        No
2        1   Hot     High  False       Yes
3    Sunny  Mild     High  False       Yes
4    Sunny  Cool   Normal  False       Yes
5    Sunny  Cool   Normal   True        No
6        1  Cool   Normal   True       Yes
7        0  Mild     High  False        No
8        0  Cool   Normal  False       Yes
9    Sunny  Mild   Normal  False       Yes
10       0  Mild   Normal   True       Yes
11       1  Mild     High   True       Yes
12       1   Hot   Normal  False       Yes
13   Sunny  Mild     High   True        No

In [4]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [6]:
data= pd.read_csv('/content/sample_data/golf-dataset.csv')

In [7]:
data

     Outlook  Temp Humidity  Windy Play Golf
0      Rainy   Hot     High  False        No
1      Rainy   Hot     High   True        No
2   Overcast   Hot     High  False       Yes
3      Sunny  Mild     High  False       Yes
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
7      Rainy  Mild     High  False        No
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
11  Overcast  Mild     High   True       Yes
12  Overcast   Hot   Normal  False       Yes
13     Sunny  Mild     High   True        No

In [8]:
label_encoder = preprocessing.LabelEncoder()
data['Outlook']= label_encoder.fit_transform(data['Outlook'])
data['Temp']= label_encoder.fit_transform(data['Temp'])
data['Humidity']= label_encoder.fit_transform(data['Humidity'])
data['Windy']= label_encoder.fit_transform(data['Windy'])
data['Play Golf']= label_encoder.fit_transform(data['Play Golf'])

In [9]:
X=data.drop('Play Golf', axis=1)
X

    Outlook  Temp  Humidity  Windy
0         1     1         0      0
1         1     1         0      1
2         0     1         0      0
3         2     2         0      0
4         2     0         1      0
5         2     0         1      1
6         0     0         1      1
7         1     2         0      0
8         1     0         1      0
9         2     2         1      0
10        1     2         1      1
11        0     2         0      1
12        0     1         1      0
13        2     2         0      1

In [10]:
X=data.drop('Play Golf', axis=1)
Y=data['Play Golf']
Y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: Play Golf, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.1, random_state=42)

In [12]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
y_pred = gnb.predict(X_test)

In [13]:
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 100.0

In [14]:
from sklearn import metrics
confusion_matrix = metrics.confusion_matrix(Y, Y)
confusion_matrix

array([[5, 0],
       [0, 9]])